.FooterBanner {
    padding: 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../../../asset/img/footer-banner-bg.png');
    text-align: center;
}

.FooterBanner h2 {
    color: white;
    font-size: 32px;
    line-height: 16px;
}

.FooterBanner h2 span {
    color: #FAD93C;
}

.FooterBanner h4 {
    color: white;
    font-size: 24px;
}

.FooterBanner button {
    font-size: 18px;
    height: 60px;
    padding: 0 27px;
    border-radius: 5px;
}

.FooterBanner button:hover {
    background-color: #B21010;
}
