.NavItems-NavItems {
    display: flex;
    flex-direction: row;
    padding: 0;
}

.NavItems-NavItems li {
    list-style: none;
    margin: 0 12px;
    box-sizing: border-box;
}

.NavItems-NavItems a {
    padding: 21px 6px;
    color: var(--accent-bg-hover);
    font-size: 16px;
    border-bottom: 2px solid transparent;
    font-weight: 700;
}

.NavItems-NavItems a:hover, 
.NavItems-NavItems a.active {
    color: var(--accent-color);
    border-color: var(--accent-color);
}

.NavItem:first-child a:hover {
    border: none;
}
