.QuestionCreate {
    margin-left: 200px;
    padding: 12px;
}

.QuestionCreate-Ans h2 {
    margin: 12px 0;
}

.QuestionCreate-Add-Btn {
    width: 100%;
    height: 48px;
    font-size: 20px;
    border-color: #bbb;
    margin-top: 10px;
}

.QuestionCreate-Input {
    display: flex;
    position: relative;
    padding: 10px 0;
}

.QuestionCreate-CheckBox {
    margin: auto;
}

.QuestionCreate-CheckBox input:checked ~ span {
    background-color: green;
}

.QuestionCreate-Ans textarea {
    margin: 0 auto;
    width: 98%;
}

.QuestionCreate-Input-Delete {
    width: auto;
    height: 34px;
    background-color: #f5222d;
    position: absolute;
    right:  -10px;
    top: -10px;
    border-radius: 50%;
    outline: none;
    border-color: transparent;
    color: white;
    font-size: 18px;
    display: none;
    cursor: pointer;
}

.QuestionCreate-Input:hover .QuestionCreate-Input-Delete {
    display: block;
}

@media (max-width: 768px) {
    .QuestionCreate {
        margin-left: 0;
    }
}

.QuestionCreate-Input-Correct {
    position: absolute;
    width: 36px;
    height: 36px;
    border: 2px green solid;
    background-color: white;
    left: calc(1% - 17px);
    top: -17px;
    border-radius: 50%;
    z-index: 1000;
    cursor: pointer;
}