.UlityLanding {
    background-color: yellowgreen;
    padding: 120px 80px;
}

.UlityLanding-Div {
    background-color: teal;
    padding: 24px 60px;
}

.test {
    width: 60%;
}

.UlityLanding-img {
    padding: 60px;
    text-align: center;
}

.UlityLanding-img {
    width: 100%;
}
