.Menu-Menu {
    width: 200px;
    top: 74px;
    bottom:0;
    position: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 200;
    background-color: rgba(255, 255, 255, 0);
}

.Menu-Menu:hover {
    overflow-y: auto;
}

.Menu-Drawer {
    top: 0;
    width: 256px;
    display: none;
}

.Menu-Btn {
    display: none;
    position: fixed;
    left: 0;
    top: 20%;
    transform: rotate(90deg) translateY(10px);
    background: linear-gradient(45deg, #108ee9 0%, #87d068 100%);
    padding: 4px 12px;
    font-size: 16px;
    font-weight: 700;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
}

.Menu-Item {
    color: #333;
    font-size: 16px;
    font-weight: 700;
}

@media (max-width: 768px) {
    .Menu-Hide {
        display: none;
    }

    .Menu-Drawer,
    .Menu-Btn {
        display: block;
    }
}

@media (max-width: 576px) {
    .Menu-Btn {
        top: 140px;
    }
}