.Ulity {
    margin-left: 200px;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .Ulity {
        margin-left: 0;
    }
}

.Ulity button {
    padding: 12px 24px;
    height: 48px;
}

.Ulity button:not(:disabled),
.UlityCreate button:not(:disabled),
.GeneralInfo-Container button:not(:disabled) {
    animation: notDisable 0.3s linear;
}

@keyframes notDisable {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(0.95);
    }
    75% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
