@import '~antd/dist/antd.css';
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap";

:root {
  --accent-color: #2c31cf;
  --accent-bg-hover: #1e266d;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.site-layout-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}

.Layout-Layout {
  padding-top: 80px;
  background-color: white;
}