.holder {
    background-color: white;
}

.Sider-hm {
    position: fixed;
    height: 100vh;
}

.Content-hm {
    margin-left: 200px;
}

.parent {
    /* display: flex; */
    background-color: royalblue;
}

.child {
    cursor: pointer;
    flex: 1;
    margin: auto;
}

.child:nth-child(1) {
    background-color: seagreen;
    width: 50%;
    height: 600px;
}

.child:nth-child(2) {
    background-color: skyblue;
    width: 50%;
}